
body {
    margin: 0px; 
    padding: 0px;
}
body, h1, h2, h3, h4, h5, h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #242F3A;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #242F36;
}
#app {
    margin: 0px;
}
.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    padding: 12px 16px;
    border-radius: 3px;
    text-decoration: none;
    letter-spacing: 0.7pt;

    &.style1 {
        color: #040404;
        border-color: #040404;
        background-color: #fff;
    }

    &.style2 {
        color: #040404;
        border-color: #6FBB34;
        background-color: #fff;
    }

    &.style3 {
        color: #040404;
        border-color: #98CF69;
        background-color: #fff;
    }

    &.style4 {
        color: #151925;
        border-color: #82C33F;
        background-color: #6FBB34
    }

    &.style5 {
        color: #151925;
        border-color: #98CF69;
        background-color: #98CF69
    }

    &.style6 {
        color: #151925;
        border-color: #BEBFC1;
        background-color: #BEBFC1
    }

    &.style7 {
        color: #fff;
        border-color: #fff;
        background-color: #1A2226
    }

    &.style8 {
        color: #fff;
        border-color: #fff;
        background-color: #242F36
    }

    &.style9 {
        color: #fff;
        border-color: #fff;
        background-color: #151A1C
    }

    &.style10 {
        color: #9A9C9E;
        border-color: #9A9C9E;
        background-color: transparent;
    }

    &.style11 {
        color: #fff;
        border-color: #fff;
        background-color: transparent;
    }
    &.style12 {
        color: #6FBB34;
        border-color: #6FBB34;
        background-color: transparent;
    }
    &.style13 {
        color: #fff;
        border-color: #545556;
        background-color: transparent;
    }
    &.style14 {
        color: #fff;
        border-color: #6FBB34;
        background-color: transparent;
    }
    &.style15 {
        color: #242B7E;
        border-color: #fff;
        background-color: #fff;
    }
    &:hover {
        opacity: 0.7;
    }
}

.darkbg, .whitebg{
    padding: 20px;
}
.darkbg {
    background-color: #000;
}
.formfield {
    margin-bottom: 10px;
    .fieldlabel {
        display: inline-block;
        font-size: 12px;
        color: #292F36;
        letter-spacing: 0.5pt;
    }
}
.textfield {
    input {
        border: 1px solid #C8C8C8;
        border-radius: 2px;
        color: #242F3A;
        font-size: 14px;
        height: 32px;
    }
}

.dropdown {
    font-size: 14px;
    select {
        height: 34px;
        background: #fff;
        border: 1px solid #C8C8C8;
        border-radius: 2px !important;
        
        -webkit-border-radius: 2px;
        color: #242F3A;
        font-size: 14px;
    }
}
.guide {
    border-left: 8px solid #ccc;
    padding-left: 15px;
    margin-bottom: 30px;
}
.code {
    padding: 10px;
    background-color: #f5f5f5;
    font-size: 10px;
    margin-top: 10px;
}

.page {
    padding: 20px;
    h1.title {
        padding-left: 20px;
    }
}
.nav {
    background-color: #82C33F;
    a {
        text-decoration: none;
    }
    .nav-link {
        padding: 15px 20px;
        color: #fff;
        display: inline-block;
        font-size: 13px;
        &.brand {
            font-size: 22px;
            text-shadow: 1px 1px 1px #666
        }
    }
}
.fieldset {
    border: 1px solid #ccc;
    padding: 30px;
    position: relative;
}

.quote-info {
    padding: 20px 10px;
    border: 1px solid #ccc;
    border-top-width: 0px;
}

.mask {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    display: block;
    background: rgba(0,0,0,0.2);
    top: 0px;
    .text-wrapper {
        display: table;
        height: 100%;
        width: 100%;
        .text {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            .textbox {
                display: inline-block;
                padding: 10px;
                font-size: 12px;
                border-radius: 4px;
                background-color: #666;
                border: 1px solid #666;
                color: #fff;
                img {
                    float: left;
                    width: 16px;
                    margin-right: 5px;
                }
            }
            .at {
                float: left;
            }
        }
    }
    
}